<div class="row inbox-item" (click)="onItemClickAction()" [ngClass]="{'inbox-item--select': inboxData?.isSelect}">

  <div class="col-12 col-sm-12 col-md-2 inbox-item__blog">
    <span [hidden]="inboxData?.isSelect" class="inbox-item__circle inbox-item__circle--title1"
          [style.background-color]="inboxData?.icon?.iconColorCode">{{inboxData?.icon?.iconShortText}}</span>
    <input [hidden]="!inboxData?.isSelect" type="checkbox" [(ngModel)]="inboxData.isSelect" />
  </div>

  <div class="col-12 col-sm-12 col-md-10 inbox-item__blog">
    <div class="row">
      <div id="inboxItemName" class="col-8 inbox-item__label inbox-item__label--title1">{{inboxData?.from?.name}}</div>
      <div class="col-4 inbox-item__label inbox-item__label--title2 text-right" [hidden]="!inboxData?.isSelect">
        <i class="fa fa-trash"></i>
        <i class="fa fa-envelope"></i>
        <i class="fa fa-flag"></i>
        <i class="fa fa-thumb-tack"></i>
      </div>

    </div>
    <div class="row">
      <div id="inboxItemSubject" class="col-10 inbox-item__label inbox-item__label--title1"> {{inboxData?.subject}}</div>
      <div id="inboxItemCreatedTime" class="col-2 inbox-item__label inbox-item__label--title2 text-right">{{inboxData?.createdTime}}</div>
    </div>
    <div class="row">
      <div id="inboxItemBody" class="col-12 inbox-item__label inbox-item__label--title2">{{inboxData?.body}}
      </div>
    </div>
  </div>

</div>
