
.inbox-item {
  padding: .5rem;
  border-top: 0.2px solid #bababa;

  &--select {
    background-color: #e8e8e8;
  }

  &__blog {
    padding: .2rem;
    text-align: center;
  }

  &__circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    padding: .6rem;

    &--title1 {
      font-size: .8rem;
    }

  }

  &__label {

    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;

    &--title1 {
      font-size: .8rem;
    }

    &--title2 {
      font-size: .6rem;
    }

  }

}
