<div class="container">
  <div class="row">
    <h2 class="col-12 text-center p-3 pt-5">1# there is data</h2>
    <div class="col"></div>
    <div class="col-12 col-sm-10 col-md-6">
      <app-inbox-container
        [enableLazyLoad]="true"
        [inboxDataList]="inboxDataList"
        [isLastPage]="isLastPage"
        [isLoading]="isLoading"
        (onLoadNextPage)="onLoadNextPage()">
      </app-inbox-container>
    </div>
    <div class="col"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="col-12 text-center p-3 pt-5">2# there is no data</h2>
    <div class="col"></div>
    <div class="col-12 col-sm-10 col-md-6">
      <app-inbox-container [enableLazyLoad]="false" [isLoading]="false" [inboxDataList]="inboxDataListNoData"></app-inbox-container>
    </div>
    <div class="col"></div>
  </div>
</div>


<div class="container">
  <div class="row">
    <h2 class="col-12 text-center p-3 pt-5">3# Something went wrong</h2>
    <div class="col"></div>
    <div class="col-12 col-sm-10 col-md-6">
      <app-inbox-container [enableLazyLoad]="false" [isLoading]="false" [isError]="true" errorMsg="Something went wrong." ></app-inbox-container>
    </div>
    <div class="col"></div>
  </div>
</div>
