@import '~bootstrap/scss/bootstrap.scss';

.inbox-container {
  padding: .5rem;

  &__header {
    padding: .5rem;

    &--inbox {
      color: black;
      text-align: left;

      @include media-breakpoint-up(md) {
        padding-left: 100px;
      }

    }

    &--filter {
      color: dodgerblue;
      text-align: right;

      @include media-breakpoint-up(md) {
        padding-right: 40px;
      }

    }
  }

  &__app-inbox-item {
    padding: .5rem;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
  }

  &--error {
    color: red;
  }

}
