<div class="inbox-container">
  <div class="row">
    <div class="col-6 inbox-container__header inbox-container__header--inbox">Inbox</div>
    <div class="col-6 inbox-container__header inbox-container__header--filter">Filter</div>
  </div>
  <div class="inbox-container__app-inbox-item" (scroll)="onScroll($event)">

    <ng-template [ngIf]="inboxDataList.length > 0">
      <app-inbox-item id="appInboxItem" *ngFor="let inboxData of inboxDataList; trackBy: trackByIndex"
                      [inboxData]="inboxData"
                      (onItemClick)="onItemClick($event)"></app-inbox-item>
    </ng-template>

    <div id="errorDiv" *ngIf="isError; else noError">
      <span class="inbox-container--error" *ngIf="isError">{{errorMsg}}</span>
    </div>

    <ng-template #noError>
      <img id="loadingDiv" *ngIf="isLoading" src="assets/loading.gif">
      <span id="noDataDiv" *ngIf="inboxDataList.length === 0 && !isLoading">There is no data.</span>
    </ng-template>

  </div>
</div>

